.header {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgba(2, 162, 255, 0.47);
}

.button {
  width: 100px;
  height: 50px;
  border: 2px solid lightgray;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: blue;
  color: rgb(249, 249, 249);
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}
.button:hover {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.722);
  color: black;
}
.input{
  width: 300px;
  height: 30px;
  outline: none;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 18px;
}
