ul {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 200px 10px 200px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 30px;
  color: white;
  text-align: center;
  font-variant: small-caps slashed-zero;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.loaderdiv {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
